# Dynamic risk budgeting between PSP & LHP

In [1]:
import pandas as pd
import numpy as np
import ashmodule as ash
import matplotlib.pyplot as plt
import seaborn as sns

%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
n_scenarios = 5000
rates, zc_prices = ash.cir(10,n_scenarios=n_scenarios,b=0.03,r_0 = 0.03,sigma = 0.02)
prices_eq = ash.gbm(10, n_scenarios=n_scenarios,mu=0.07,sigma=0.15)

In [3]:
rets_eq = prices_eq.pct_change().dropna()
rets_zc = zc_prices.pct_change().dropna()
rets_7030b = ash.bt_mix(rets_eq, rets_zc,allocator = ash.fixedmix_allocator, w1 = 0.7)
pd.concat([ash.terminal_stats(rets_zc, name = "ZC", floor = 0.75),
           ash.terminal_stats(rets_eq, name = "Eq", floor = 0.75),
           ash.terminal_stats(rets_7030b, name = "70/30", floor = 0.75)],
         axis = 1).round(2)

             ZC    Eq  70/30
mean       1.34  1.98   1.76
std        0.00  0.97   0.59
p_breach    NaN  0.03   0.01
e_short     NaN  0.13   0.10
p_reach     NaN   NaN    NaN
e_surplus   NaN   NaN    NaN

In [5]:
rets_floor75 = ash.bt_mix(rets_eq, rets_zc, allocator=ash.floor_allocator, floor =0.75, zc_prices=zc_prices[1:])
pd.concat([ash.terminal_stats(rets_zc, name = "ZC", floor = 0.75),
           ash.terminal_stats(rets_eq, name = "Eq", floor = 0.75),
           ash.terminal_stats(rets_7030b, name = "70/30", floor = 0.75),
           ash.terminal_stats(rets_floor75, name ="Floor75%",floor=0.75)],
         axis = 1).round(2)

             ZC    Eq  70/30  Floor75%
mean       1.34  1.98   1.76      1.95
std        0.00  0.97   0.59      0.97
p_breach    NaN  0.03   0.01       NaN
e_short     NaN  0.13   0.10       NaN
p_reach     NaN   NaN    NaN       NaN
e_surplus   NaN   NaN    NaN       NaN

In [6]:
# this code is to test pd.concat for np array out of class
first_array = np.random.normal(loc = 0,scale= 5,size = 20)
second_array = np.random.normal(loc = 0,scale= 10,size = 20)
df = pd.concat(first_array,second_array)
df.head()
# didn't work

TypeError: cannot concatenate object of type '<class 'numpy.float64'>'; only Series and DataFrame objs are valid

In [8]:
# try to convert before concat
df= pd.concat([pd.Series(first_array),pd.Series(second_array)])
df.head()
df.shape
# didn't work either

(40,)

In [9]:
df = pd.DataFrame(data = [first_array,second_array])
df.shape

(2, 20)

In [10]:
df.head()
#needs to convert to columns instead

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-1.659758,0.313144,-6.899110,2.352010,0.715569,3.347769,-2.322261,5.154672,-0.808251,1.381598,5.678368,1.944843,0.515291,4.482507,3.040392,4.129565,-1.629533,5.572200,5.348553,6.801512
1,-0.654278,-9.207176,1.877104,-7.401049,-13.336935,-2.126046,-9.760666,6.354633,11.186141,-22.180918,14.350500,-9.253014,5.679302,-11.571626,3.714278,-7.579856,16.466773,12.893751,-5.742000,5.765055

In [11]:
first_array = pd.DataFrame(data = np.random.normal(loc = 0,scale= 5,size = 20))
second_array = pd.DataFrame(data =np.random.normal(loc = 0,scale= 10,size = 20))
df = pd.concat([first_array,second_array])
df.shape

(40, 1)